.container {
  width: 640px;
  padding: 50px;
}
.title {
  background-color: pink;
  text-align: center;
  padding-bottom: 5px;
}
.subtitle {
  background-color: skyblue;
  text-align: center;
  padding-bottom: 3px;
  margin-bottom: 20px;
}

.menu {
  margin: 50px;
  align-items: center;
}

.button {
  width: 180px;
  height: 30px;
  align-items: center;
  text-align: center;
  margin: 20px;
  border: 2px solid;
  padding: 50px;
  border-radius: 50px;
}

.table {
  border: 1px black solid;
}

.write {
  margin-right: 100px;
}

h3 {
  margin-left: 30px;
}

.submit {
  width: 200px;
}
